# System files
.DS_Store
Thumbs.db
.localized

# Python cache
__pycache__/
*.pyc
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Database files (uncomment if you don't want to track database states)
# *.db

# Local env files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
